* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 1000px;
  max-width: 584px;
  margin: 0px auto;
  padding: 10px;
  justify-content: space-between;
}
